
<ion-tabs #tabs>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button  tab="tab1" layout="icon-top">
      <ion-icon name="flash"></ion-icon>
      <ion-label>All Leads</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" layout="icon-top">
      <ion-icon name="people"></ion-icon>
      <ion-label>CRM Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" layout="icon-top">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Reminder</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>